html, body {
	min-width:300px;
	height:auto;
	background:transparent;
}

body {
	overflow:hidden;
}
#search-results{
	padding:0px 10px 0px 5px;
	overflow:hidden;
}

#search-results iframe html{
	border:none;
}
#search-results iframe {
	min-width:300px;
}


ol.search_list {
	margin-left: 15px;
	list-style-type:none;
	counter-reset: ol;
}
ol.search_list li:before {
content: counter(ol) ".";
counter-increment: ol;
float:left;
display:block;
width:20px;
text-align:right;	
padding-right:10px;
margin:10px 0px 0 -30px
}
ol.search_list li {
	padding-bottom:20px;
	margin-left:15px;
}
span.match {
	color:#f85746;
	font-size:11px;
	display:block;
	
}
span.search {
	color:#f85746; 
	display:inline-block;
}
.search_link{
	color:#2b2b2b; text-decoration: none; 
}
.search_link:hover{
	text-decoration: none; color:#f85746;
}

