.form-search{
  margin: 0;
}

.search-table-row{
  margin-top: 8px !important;
}

.pull-right .pagination{
  margin-top: 0px
}

/* multiselect 2-col */
#multi_search {width:152px;margin:4px}
.ms-container {margin-bottom:10px}
.ms-container .ms-optgroup li.ms-elem-selectable {padding-left:20px}
.ms-container h4 {font-weight:100;padding:4px 6px;background:#efefef;border-bottom:1px solid #ccc;-webkit-border-radius: 4px 4px 0px 0px;border-radius: 4px 4px 0px 0px}
.ms-container #multi_search + .ms-list {height:196px}
#sForm_deselect {margin:2px;display:block}


.datepicker td, .datepicker th {
  min-width: 20px !important;
}

.text-center{
  text-align: center;
}


.datepicker {z-index: 1151 !important;}



.temporaryOffUserWrapper .help-inline {
color: #b94a48;
}
