/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html, body {width:100%; padding:0; margin:0; }


body { 	 
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; 
	line-height:17px;
	color:#9f9e9e;
	min-width:1020px;
	background:url(/images/bg_shape.jpg) center 0 repeat-x #f7f7f7;	
	position:relative;
}
.bg-pic {background:#fff; width:1020px; margin-left:auto; margin-right:auto; margin-top:25px; margin-bottom:30px;}

/***********************************************************************/

a {text-decoration:none; cursor:pointer;}
a:hover {text-decoration:underline;}

a.link {cursor:pointer; color:#f85746; text-decoration:none; font-weight:bold; font-style:normal;}
a.link:hover { color:#f85746; text-decoration:underline;}

a.link2 {cursor:pointer; color:#636363; text-decoration:none; font-weight:bold; font-style:normal;}
a.link2:hover { color:#636363; text-decoration:underline;}

a.link3 {cursor:pointer; color:#f85746; text-decoration:underline; }
a.link3:hover { color:#f85746; text-decoration:none;}

.button-1 { font-family: Arial, Helvetica, sans-serif; font-weight:normal; line-height:18px; font-size:15px; color:#fff; display:inline-block; background:url(/images/search_shape.png) 0 0 repeat-x #ca2514; padding:7px 14px 10px 14px; }
.button-1:hover { color:#ca2514; text-decoration:none; background:#fff;  }

.button-2 { font-family: Arial, Helvetica, sans-serif; font-weight:normal; line-height:15px; font-size:12px; color:#fff; display:inline-block; background:url(/images/det_shape.png) 0 0 repeat-x; padding:7px 9px 8px 9px; }
.button-2:hover { color:#fff; text-decoration:none; background-position:0 -50px; }

.button-3 { font-family: Arial, Helvetica, sans-serif; font-weight:bold; line-height:15px; font-size:12px; color:#f85746; display:inline-block; background:url(/images/arrow_01.png) right 5px no-repeat; padding:0px 14px 0px 0px; }
.button-3:hover { color:#000; text-decoration:none;  }

.button-4 { font-family: Arial, Helvetica, sans-serif; font-weight:normal; line-height:18px; font-size:15px; color:#fff; display:inline-block; background:url(/images/search_shape.png) 0 0 repeat-x #ca2514; padding:8px 19px 9px 19px; }
.button-4:hover { color:#fff; text-decoration:none; background:#262626;  }



.lsp {letter-spacing:-1px !important;}

/******************************************************************/
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper {width:100%; overflow:hidden; position:relative}
.extra-wrap {overflow:hidden;}
.container {width:100%;}
.reg {text-transform:uppercase;}
.right {text-align:right;}
.left {text-align:left;}
.center {text-align:center;}
.fleft {float:left;}
.fright {float:right;}

.nowrap{ white-space:nowrap; }

.img-indent {float:left; margin:4px 19px 0px 0px;}
.img-indent2 {float:left; margin:1px 9px 0px -1px;}
.img-indent3 {float:left; margin:4px 18px 0px 0px;}
.img-indent4 {float:left; margin:4px 18px 0px 0px;}
.img-indent5 {float:left; margin:-3px 7px 0px 0px;}
.img-indent6 {float:left; margin:-3px 10px 0px 0px;}




.last {margin-right:0px !important;}


/*********************************header*************************************/
header {width:1020px; margin:0 auto; z-index:299; position:relative;}

.logo {z-index:299; position:relative; float:left; margin-top:22px; margin-left:40px;}
h1 { margin-top:0px; padding-bottom:0px; margin-left:0px;  }

.menu {  position:relative;  z-index:199; float:left; }
nav {  float:left; z-index:501; margin-top:16px; margin-left:40px; background:url(/images/maenu_shape.png) 0 0 repeat-x #1e1e1e; width:940px; }


.right-side {float:right; margin-top:40px; margin-right:39px}



#search-form {background:#fff; width:222px; overflow:hidden; display:inline-block; margin-top:0px;  float:right;}

#search-form input { width:170px; height:15px; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#898989;  background:transparent; vertical-align:top; padding:5px 14px 3px 11px; display: inline-block; float:left; outline:none; text-transform:uppercase; border-left:1px solid #eeeeee; border-top:1px solid #eeeeee; border-bottom:1px solid #eeeeee;}
#search-form a {background:url(/images/magn.png) 0 0px no-repeat; display:inline-block; vertical-align:top; float:right; width:26px; height:25px; margin:0px 0px 0 0;}
#search-form a:hover {background:url(/images/magn.png) 0 -25px no-repeat; }



.slider-block {  z-index:99; height:413px; width:940px; overflow:hidden; position:relative; margin-left:40px; background:#000; margin-top:20px;}


h2 { font-family: 'Open Sans Condensed', sans-serif; font-weight:300; font-size:29px; color:#1e1e1e; line-height:35px; letter-spacing:0px;}
.color {color:#f73d2a;}

h3 { font-family: Arial, Helvetica, sans-serif; font-weight:normal; font-size:15px; color:#1e1e1e; line-height:18px; letter-spacing:0px;}
h4 { font-family: Arial, Helvetica, sans-serif; font-weight:normal; font-size:15px; color:#1e1e1e; line-height:37px; letter-spacing:0px;}

/*********************************content*************************************/

#content { z-index:199; position:relative; width:100%; margin:0 auto; padding-bottom:35px; padding-top:32px;}
#content-page { z-index:199; position:relative; width:100%; margin:0 auto; padding-bottom:35px; padding-top:43px;}



.box-1 {width:220px; float:left; position:relative; margin-left:20px; margin-top:20px;}
.box-1>img {padding-bottom:17px;}
.box-1>.price {font-size:17px; font-family:Arial, Helvetica, sans-serif; line-height:21px; color:#3c3c3c; margin-top:16px; float:left;}

.box-2 { width:220px; float:left; margin-left:20px; margin-top:20px; }
.box-2>img {padding-bottom:19px;}


.box-3 { width:220px; float:left; margin-left:20px; margin-top:20px; }
.box-3>img {padding-bottom:17px;}
.box-3>.price {font-size:17px; font-family:Arial, Helvetica, sans-serif; line-height:21px; color:#3c3c3c; margin-top:16px; float:left;}

.box-4 { width:460px; float:left; margin-left:20px; margin-top:21px; }
.box-4 .price {font-size:17px; font-family:Arial, Helvetica, sans-serif; line-height:21px; color:#3c3c3c; margin-top:15px; float:left;}


.box-5 { width:300px; float:left; margin-left:20px; margin-top:29px; }

.text-1 {font-family: Arial, Helvetica, sans-serif; font-size:14px; line-height:21px; color:#949393; margin-top:31px;}
.text-1 span { color:#f73d2a; font-size:17px; }
header .text-1 {font-size:18px;}
header .text-1 span { font-size:20px; }

.text-2 {font-family: Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#9f9e9e; font-style:italic;}
a.text-3 {font-family: Arial, Helvetica, sans-serif; font-size:11px; line-height:14px; color:#f85746; font-weight:bold; text-transform:uppercase; text-decoration:none; margin-bottom:11px; display:inline-block;}
a.text-3:hover {color:#000; text-decoration:underline;}

.text-4 {font-family: Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#636363; font-weight:bold;}

.color-2 {color:#f85746;}

.line-1 {background:#e5e5e5; height:1px; width:100%; margin-top:10px;}
.line-2 {background:#e5e5e5; height:1px; width:100%; margin-top:14px;}
.line-3 {background:#262626; height:3px; width:100%;}
.line-4 {background:#e5e5e5; height:1px; width:100%; margin-top:16px;}



.marg0 {margin-left:0px !important;}
.marg1 {margin-top:20px;}
.marg2 {margin-top:12px;}
.marg3 {margin-top:20px;}
.marg4 {margin-top:16px;}
.marg5 {margin-top:17px;}
.marg6 {margin-top:36px;}
.marg7 {margin-top:27px;}
.marg8 {margin-top:44px;}
.marg9 {margin-top:23px;}
.marg10 {margin-top:10px;}
.marg11 {margin-top:26px;}
.marg12 {margin-top:31px;}
.marg13 {margin-top:32px;}
.marg14 {margin-top:40px;}
.marg15 {margin-top:-9px;}
.marg16 {margin-top:45px;}
.marg17 {margin-top:16px !important; margin-left:1px;}
.marg18 {margin-top:42px;}
.marg19 {margin-top:28px;}
.marg20 {margin-right:20px;}
.marg21 {margin-top:32px;}




.pad0 {padding-bottom:0px !important;}
.pad1 {padding-bottom:18px;}


.form-2 {margin:0px 0 0 0; color:#463c15;}
.form-2 label {display:inline-block; vertical-align:middle; float:left; font-size:12px; line-height:15px; color:#9f9e9e;}
.bot-1 { padding-bottom:20px; }

.form-3 {margin:20px 0 0 0; color:#9f9e9e;}
.form-3 label {display:inline-block; vertical-align:middle; float:left; font-size:12px; line-height:15px; color:#9f9e9e;}

.form-4 {margin:0px 0 0 0; color:#463c15;}
.form-4 label {display:inline-block; vertical-align:middle; float:left; font-size:12px; line-height:15px; color:#9f9e9e;}
.bot-2 { padding-bottom:26px; }

.form-5 {margin:0px 0 0 0; color:#463c15;}
.form-5 label {display:inline-block; vertical-align:middle; float:left; font-size:12px; line-height:15px; color:#9f9e9e;}
.bot-3 { padding-bottom:22px; }


.label-1 {display:block; width:220px; padding-top:16px; padding-bottom:7px;}
.label-2 {display:block; width:220px; padding-top:7px; padding-bottom:7px;}

.label2-1 {display:block; width:37px; padding-top:5px; }
.label2-2 {display:block; width:44px; padding-top:5px; padding-left:30px;}
.label2-3 {display:block; width:24px; padding-top:5px; padding-left:14px; }

.label3-1 {display:block; width:220px; padding-top:17px; padding-bottom:7px;}

.select-2 {width:220px; float:left; margin-left:0px;}
.select-3 {width:133px; float:left; margin-left:0px;}
.select-4 {width:84px; float:left; margin-left:0px;}
.select-5 {width:85px; float:left; margin-left:0px;}
.select-6 {width:56px; float:left; margin-left:4px;}
.select-7 {width:71px; float:left; margin-left:4px;}




.input-1 {width:208px; height:15px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#9f9e9e; background:#fff; vertical-align:top; padding:4px 0px 4px 10px; display: inline-block; float:left; border:1px solid #e5e5e5;}


.button-form { font-family: Arial, Helvetica, sans-serif; font-weight:normal; line-height:18px; font-size:15px; color:#fff; display:inline-block; background:url(/images/search_shape.png) 0 0 repeat-x #ca2514; padding:8px 19px 9px 19px; }
.button-form:hover { color:#fff; text-decoration:none; background:#252525;}





/******/

.listbox-1 { width:220px; }
.listbox-1 li a:hover {  text-decoration:none; color:#000;}
.listbox-1  li {padding:0px 0 2px 0px; font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:15px; color:#9f9e9e;}
.listbox-1  li:first-child {}
.listbox-1  li a { color:#f85746; text-decoration:none; float:right;}




.list1 { margin-top:14px;}
.list1 li a:hover {  text-decoration:underline; color:#000;}
.list1 li {padding:0px 0 9px 21px; background:url(/images/arrow_02.png) 1px 5px no-repeat;}
.list1 li:first-child {}
.list1 li a { font-size:12px; color:#9f9e9e; font-family:Arial, Helvetica, sans-serif; line-height:15px; text-decoration:none; }

.list2 { margin-top:15px;}
.list2 li a:hover {  text-decoration:none; color:#000;}
.list2 li {padding:0px 0 10px 11px; background:url(/images/arrow_03.png) 0px 5px no-repeat;}
.list2 li:first-child {}
.list2 li a { font-size:12px; color:#f85746; font-family:Arial, Helvetica, sans-serif; line-height:18px; text-decoration:none; font-style:italic; }


/****************************footer************************/
footer {
	width:100%;
	margin:0 auto;
	position:relative;
	z-index:102;
	padding-bottom:28px;
}


.foot-text {text-align:right; margin-top:145px;}
footer .foot-text a {cursor:pointer; color:#f85746; text-decoration:none;}
footer .foot-text a:hover { text-decoration:underline; }


/**********************form**********************/
.map { width:586px; height:338px; margin-top:20px; display:block; float:left; margin-right:18px;}
.map iframe { width:586px; height:338px; }

dl {margin:16px 0px 0px 0px;  }
dl dt { padding:0px 0 0px 0;}
dl dd span { display:inline-block; width:69px;}
dl dd { }

.box7 {width:380px;}

#form {
	margin: 16px 0 0px 0px;
	width:940px;
}
#form input {
	border:#e5e5e5 1px solid;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	height:15px;
	color:#9f9e9e;
	padding:4px 4px 4px 18px;
	outline: medium none;
	width: 356px;
	
	float:left;
}
#form textarea {
	
	border:#e5e5e5 1px solid;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	height:15px;
	color:#9f9e9e;
	height: 139px;
	outline: medium none;
	overflow: auto;
	padding: 4px 0px 0px 10px;
	width: 528px;
	resize:none;
	margin:0px 0 0 0;
	float:left;
}
#form label {
	position:relative;
	display: block;
	min-height:60px;
	overflow:hidden;
}
#form label p {

}
#form .error, #form .empty {
	color: #F00;
	display: none;
	font-size: 11px;
	line-height:14px;
	float:left;
	width:200px;
}
#form .error-empty {
	margin: 4px 0 5px 7px !important;
	display:none;
	float:left;
}
#form .success {
	display:none;
	padding-bottom:10px;
}
.btns {
	text-align:right;
	width:940px;
	position:relative;
	padding-top:9px;
	overflow:hidden;
	
}
.btns a {
	margin: 0px 0px 0px 8px;
}







.alert {
	width: 500px;
	margin: 0 auto;
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert-heading {
  color: inherit;
}

.alert .close {
  top: -2px;
  line-height: 18px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}





.hover {
	display:inline-block; 
	position:relative;
	overflow:hidden;
	z-index:2;	
}
	.hover img {
		display:block;
		position:relative;
	}
	.hover .mask{
		background:url(/images/img-marker.png) center center no-repeat #fff;
		cursor:pointer;
		bottom: 50%;
		left: 50%;
		right: 50%;
		top: 50%;
		opacity: 0;
		position: absolute;
		z-index:3;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		margin:10px;
	}
	.hover:hover .mask {
		bottom:0;
		left: 0;
		opacity: 0.5;
		right: 0;
		top: 0;
		margin:10px;
	}

.hover-small {
	display:inline-block; 
	position:relative;
	overflow:hidden;
	z-index:2;	
}
	.hover-small img {
		display:block;
		position:relative;
	}
	.hover-small .mask-small{
		background:url(/images/img-marker-small.png) center center no-repeat #fff;
		cursor:pointer;
		bottom: 50%;
		left: 50%;
		right: 50%;
		top: 50%;
		opacity: 0;
		position: absolute;
		z-index:3;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		margin:8px;
	}
	.hover-small:hover .mask-small {
		bottom:0;
		left: 0;
		opacity: 0.5;
		right: 0;
		top: 0;
		margin:8px;
	}




#content p{
  color: #636363
}

#content .wrap p{
  margin: 12px 0;
}
