/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:44px;
	overflow:hidden;
	width:43px;
	height:43px;
	border:none;
	text-indent:-999px;
	z-index:999;
	background:url(/images/ui.totop.png) no-repeat 0 bottom;
}
#toTop:hover {
	outline:none;
	background-position: 0 0px;
}